<!doctype html>

<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Tic Tac Toe</title>
  <meta name='viewport' content='width=device-width'>
  <link rel='stylesheet' href='style.css'>
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
  <script src='script.js' defer></script>
</head>

<body>
  <script type='text/x-template' id='board-box'>
    <div
      class='grid-item'
      :class='status'
      @click="$emit('mark-pick', $vnode.key)">
    </div>
  </script>

  <div id='app' v-cloak>
    <h1>Welcome to Tic Tac Toe!</h1>
    <h3 v-show='result'>It's all over! {{ result }}</h3>
    <h3 v-show="turn === 'player' && !result">
      It's your turn, please make a selection...
    </h3>
    <button v-show="turn === 'computer' && !result" @click='computerPick'>
      Trigger the computer's pick
    </button>

    <div class='grid-container'>
      <board-box
        v-for='(box, index) in 9'
        :key='index'
        :status='boxes[index]'
        @mark-pick='playerPick(index)'
        class='grid-item'>
      </board-box>
    </div>

    <button v-show='result' @click='setNewGame'>Start a new game</button>

    <div v-if='history.length'>
      <h3>Game History:</h3>
      <ul>
        <li v-for='gameResult in history'>{{ gameResult }}</li>
      </ul>
      <h3>
        Your overall record is:
      </h3>
      <ul>
        <li v-for="(count, outcome) in record">
          {{ outcome }}: {{ count }}
        </li>
      </ul>
      <a href="#" @click.prevent="resetHistory">
        Reset your game history
      </a>
    </div>

    <footer>
      X and O icons by <a target='_blank' href='https://icons8.com'>Icons8</a>
    </footer>
  </div>
</body>
</html>
