[v-cloak] {
    display: none
}

body {
  color: #1d3557;
  font-family: sans-serif;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 300px;
  width: 300px;
  border: 5px solid #a8dadc;
}

.grid-item {
  background-color: #f1faee;
  border: 4px solid #1d3557;
  padding: 30px 0px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 50px;
}

.player {
    background-image: url(icons8-x-50.png);
}

.computer {
    background-image: url(icons8-o-50.png);
}

.unplayed {
  cursor: pointer;
}

.alert {
  color: #e63946;
}

.success {
  color: #457b9d;
}

button {
  margin: 10px;
}

footer {
  font-size: .8em;
  margin-top: 50px;
}
