body {
  color: #1d3557;
  font-family: sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  height: 800px;
  width: 800px;
  border: 5px solid #a8dadc;
}

.grid-item {
  background-color: #f1faee;
  /* border: 1px solid #1d3557; */
  text-align: center;
  vertical-align: middle;
}

.unplayed {
  color: #f1faee;
  cursor: pointer;
}

.snake {
  background-color: #e63946;
  border: 1px solid #1d3557;
}

.goal {
  background-color: #457b9d;
  border: 1px solid #1d3557;
}

button {
  margin-top: 30px;
}
