/*----------------------------------------------------
VARIABLES
-----------------------------------------------------*/
$radius:5px;

/* https: //clrs.cc/ */
$aqua: #7FDBFF;
$blue: #0074D9;
$navy: #001F3F;
$teal: #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime: #01FF70;

$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;

$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;

/*----------------------------------------------------
GENERAL PAGE LAYOUT/DESIGN
-----------------------------------------------------*/
#app {
    font-family: "Lato", sans-serif;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

hr {
  margin: 3px
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;

        a:link,
        a:visited,
        a:hover,
        a:active,
            {
            /* Ref: https://stackoverflow.com/a/49783868 for why inline-block is added */
            display: inline-block;
            text-transform: capitalize;
            padding: 5px;
            margin: 5px;
            cursor: pointer;
            color: $blue;
        }

        a:hover {
            background-color: $blue;
            color: white;
            text-decoration: none;
        }

        a.router-link-active:link,
        a.router-link-active:visited,
        a.router-link-active:hover,
        a.router-link-active:active {
            text-decoration: none;
            color: $black;
            background-color: white;
            cursor: inherit;
        }
    }
}


/*----------------------------------------------------
PAGE SPECIFIC
-----------------------------------------------------*/


/*----------------------------------------------------
MISC
-----------------------------------------------------*/
.alert {
    background-color: $green;
    color: white;
    border-radius: $radius;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}
